@font-face {
    font-family: 'Poiret One';
    src: url('PoiretOne-Regular.woff2') format('woff2'),
         url('PoiretOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

