.nav-aside {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 10px 0;
  grid-row: span 10;
  z-index: 1;
  height: 100vh;
}

@media screen and (min-width: 570px) {
  .nav-aside {
    display: none;
  }
}
